body {
  background-color: #f0f;
  color: rgb(195, 240, 149);
width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: rgb(131, 210, 236);
  border-style: initial;
}
input {
  height: 30px;
}
